.Main {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.mainChild {
  padding-bottom: 60px;
}

.mainTitle {
  padding: 100px 0 40px;

  h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #b5b5b5;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }

  h2 span {
    font-size: 35px;
    background: #fff;
    padding: 0 10px;
  }
}

.mainChildRecomSection {
  display: flex;
  justify-content: center;
}

.imgChild {
  width: 450px;
  height: 340px;
  overflow: hidden;
  padding: 0 10px;

  img {
    width: 100%;
  }
}

.textWrap {
  padding-left: 20px;
}

.labelChild {
  height: 32px;
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 8px;
  border: 1px solid #0155a6;
  color: #0155a6;
  display: inline-block;
  line-height: 2;
}

.labelTxt {
  font-size: 17px;
  font-weight: 600;
}

.title {
  font-size: 28px;
  line-height: 1.33;
  color: #171717;
  margin: 15px 0;
}

.childGreetingWord {
  line-height: 1.55;
  font-size: 17px;
  color: #555;
  margin-bottom: 25px;
}

.childMoreBtnL {
  font-size: 15px;
  line-height: 44px;
  color: #005eb8;
  text-align: center;
  display: inline-block;
  border: 2px solid #005eb8;
  border-radius: 5px;
  padding: 0 10px;

  &:hover {
    background-color: #005eb8;
    transition: 0.4s background-color;
    color: #fff;
  }
}

.childMoreBtnR {
  color: #fff;
  background-color: #005eb8;
  margin-left: 10px;
  border-color: transparent;
  font-size: 15px;
  line-height: 44px;
  text-align: center;
  display: inline-block;
  border: 1px solid #005eb8;
  border-radius: 5px;
  padding: 0 15px;
}

.mainChildSupport {
  padding: 40px 0 40px;

  h2 {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #b5b5b5;
    line-height: 0.1em;
    margin: 10px 0 20px;
  }

  h2 span {
    font-size: 35px;
    background: #fff;
    padding: 0 10px;
  }
}

.mainChildSupport {
  max-width: 980px;
  margin: 0 auto;
}

.imgArea {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.txtArea {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.imgShape {
  display: flex;
  flex-direction: column;
  width: 230px;
  margin: 0 0 30px;
  padding: 0 0 0 15px;
}

.supportTxt {
  display: inline-block;
  line-height: 1.33;
}

.supportTitle {
  font-size: 20px;
  color: #171717;
  margin: 8px 0;
  font-weight: 600;
}

.supportDesc {
  font-size: 15px;
  color: #666666;
}
